body {
    margin: 80px 0 0 0;
    padding: 0px;
    width: 100%;
}
::selection {
    background-color: #90c547;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px;
}

.container {
    width: 1140px;
    height: auto;
    margin: 0 auto;
}

.top_navbar {
    height: 80px;
    background-color: #696969;
    width: auto;
    font-family: arial;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.top_navbar #js_toggle_button button {
    width: auto;
    height: 27px;
    font-size: 15px;
    background: blue;
    color: white;
    margin: 0 auto;
}

.top_navbar .pull_left img {
    width: 250px;  
    height: 40px;
    position: relative;
    top: 20px;
    float: left;
}

.top_navbar .pull_right {
    width: 455px;
    height: 24px;
    float: right;
    position: relative;
    left: 27px;
    top: 20px;
}

.top_navbar  .pull_right li {
    display: inline;
}

.top_navbar .pull_right li.cart {
    width: 170px;
    height: 27px;
    background: #e7e7e8;
    padding: 4px 10px;
}

.top_navbar .cart a {
    color: #434231;
}

.top_navbar .cart span.zero {
    color: #79b208;
}

.top_navbar .cart span.shopping:hover {
    color: #79b208;
    text-decoration: underline;
}

.top_navbar .login {
    padding: 4px 5px;
    background: #8ec73f; 
}

.top_navbar .same a {
    color: #fff;
}

.top_navbar span.same:hover {
    text-decoration: underline;
}

.top_navbar .reg {
    background: #909192;
    padding: 4px 7px;
}

.main_navbar {
    height: 46px;
    background: #4d4e53;
    position: relative;
    margin-top: 80px;
}

.main_navbar .pull_left {
    width: 840px;
    height: 46px;
    float: left;
    position: relative;
    right: 50px;
}

.main_navbar .pull_left ul {
    margin: 0;
}

.main_navbar .pull_left li {
    float: left;
    width: 106px;
    height: 20px;
    display: inline;    
    padding: 13px 15px 10px 10px;
    border-bottom: 3px solid #4d4e53;
}

.main_navbar .pull_left li.large {
    width: 170px;
}

.main_navbar .pull_left a {
    font-size: 18px;
    color: #ccc;
}

.main_navbar .pull_right {
    width: 95px;
    height: 12px;
    float: left;
    margin-top: 10px;
    padding-left: 205px;
}

.main_navbar .pull_left a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

.main_navbar .pull_left li:hover {
    border-bottom-color: #90c547;
}

.content {
    height:400px;
    background-image: url("../img/content.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px auto;
}

.content .container {
    position: relative;
    top: 100px;
}

.content h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.content .search {
    width: 640px;
    height: 85px;
    margin: 0 auto;
    background-color: rgba(30,30,30,.9);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.35);
}

.content .search a {
    width: 140px;
    height: 14px;
    float: right;
    font-size: 12px;
    color: #aaa9a5;
    position: relative;
    top: 23px;
    right: 4px;
}

.content .search input {
    width: 510px;
    height: 36px;
    font-size: 18px;
    position: relative;
    left: 12px;
    top: 12px;
}

.content .search button {
    width: 100px;
    height: 42px;     
    background-color: #396dff;
    color: #fff;
    font-size: 20px;
    border: 1px solid #396dff;
    position: relative;
    top: 13px;
    left: 8px;
    cursor: pointer;
}

.smallpadding {
    width: auto;
    height: 8px;
    background: #343138;
}

.buy_domain {
    height:167px;
    background-color: #DFDFDF;
}

.buy_domain .video {
    height:132px; 
    width:458px;
    border: 1px solid #B6B6B6;
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 10px;
    background-image: url("../img/video.jpg");
    background-size: 458px 132px;
    background-repeat: no-repeat;
    float: left;
}

.buy_domain .video h2 {
    font-family: 'Agency FB thin';
    float: right;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-right: 10px;
    letter-spacing: +1px;
    color: #bebebe;

}

.buy_domain .video p {
    font-family: "Agency FB thin";
    float: right;
    clear: right;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 10px;
    letter-spacing: +1px;
    color: #aaa9a5;
}

.buy_domain .video button {
    float: right;
    clear: right;
    margin-top: 18px;
    padding-bottom: 8px; 
    padding-top: 8px; 
    padding-right: 12px;
    padding-left: 12px;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.buy_domain .tool {
    height:132px; 
    width:443px;
    border: 1px solid #B6B6B6;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 15px;
    background-image: url("../img/tool.jpg");
    background-size: 443px 132px;
    background-repeat: no-repeat;
    float: left;
}

.buy_domain .tool h2 {
    font-family: "Agency FB thin";
    float: right;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-right: 10px;
    letter-spacing: +1px;
    color: #bebebe;
}

.buy_domain .tool p {
    font-family: "Agency FB thin";
    float: right;
    clear: right;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 10px;
    color: #aaa9a5;
    letter-spacing: +1px;
}

.buy_domain .tool button {
    float: right;
    clear: right;
    margin-top: 18px;
    padding-bottom: 8px; 
    padding-top: 8px; 
    padding-right: 12px;
    padding-left: 12px;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.buy_domain .hosting {
    height:125px; 
    width:95px;
    float: left;
}

.buy_domain .hosting p {
    font-family: "Agency FB thin";
    font-size: 45px;
    margin-top: 17px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: #707070;
    letter-spacing: +2px;
}

.buy_domain .hosting h2 {
    font-family: "Agency FB thin";
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: ;
    font-size: 35px;
    letter-spacing: 0px;
    color: #707070;
} 

.buy_domain .transfer {
    height:125px; 
    width:95px;
    float: left;
}

.buy_domain .transfer p {
    font-family: "Agency FB thin";
    font-size: 45px;
    margin-top: 17px;
    margin-left: 35px;
    margin-bottom: 0px;
    color: #707070;
    letter-spacing: +2px;
}

.buy_domain .transfer h2 {
    font-family: "Agency FB thin";
    font-size: 35px;
    margin-left: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -1px;
    color: #707070;
} 

.new_domain {
    height:151px;
    margin-top: 30px;    
}

.new_domain h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Agency FB thin";
    font-size: 30px;
    color: #4d4e53;
    letter-spacing: +1px;
}

.new_domain .logo img {
    width: 160px;
    height: 81px;
}

.new_domain p {
    font-family: "Agency FB thin";
    margin-top: 5px;
    color: #aaa9a5;
    letter-spacing: +1px;
}

.new_domain .word {
    height:109px; 
    width:262px;
    float: left;
    margin-right: 0px;
}

.new_domain .logo a{
    position: relative;
    top: 10px;
    margin-top: 40px;
    margin-left: 35px;
}

.new_domain .logo i {
    position: relative;
    bottom: 40px;
    color: #aaa9a5;
}

.new_domain .logo i:hover {
    color: #343231;
}

.ggapp {
    height: 230px;
    background-color: #e7e7e8;   
}

.ggapp img {
    width: 336px;
    height: 230px;
}

.ggapp img {
    float: left;
    
}

.ggapp .ggclass {
    float: left;
    height: 157px;
    width: 480px;
    margin-left: 70px;
}

.ggapp .ggclass img {
    width: 120px;
    height: 50px;
}

.ggapp .ggclass p{
    display: block;
    float: left;
    font-family: 'ProximaNova','Arial','Helvetica','sans-serif';
    color: #343231;
    font-size: 36px;
    position: relative;
    top: 35px;
    margin-bottom: 0px;
}

.ggapp .ggclass img {
    float: left;
    position: relative;
    right: 7px;
}

.ggapp .ggclass .nothing {
    float: left;
    position: relative;
    bottom: 50px;
    font-size: 14px;
    font-family: 'Arial';
    margin-top: 5px;
}

.ggapp .learn_more button {
    width: 118px;
    height: 44px;
    border-color: #357ebd;
    background-color: #0065bd;
    position: relative;
    top: 80px;
}

.ggapp .learn_more p {
    font-size: 14px;
    color: #fff;
    position: relative;
    bottom: 3px;
}

.click h3 {
    text-align: center;
}

.click {
    height: 552px; 
}

.click p.header {
    text-align: center;
    margin-top: 15px;
}

.click img {
    width: 270px;
    height: 250px;
    margin: 0 auto;
}

.click .header {
    font-family: "Tahoma", sans-serif;
    font-size: 30px;
    color: #4d4e53;
    letter-spacing: -1px;
}

.click .worldpress {
    height: 443px;
    width: 380px;
    float: left;
}


.click h3.hey:hover {
    color: #90c547;
}

.click .worldpress h3 {
    font-family: 'Arial';
    color: #4d4e53;
    font-size: 30px;
    margin-bottom: 7px;
    letter-spacing: -1px;

}

.click  p {
    font-size: 15px;
    color: #4d4e53;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 0px;
}

.click button.learn {
    width: 310px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 30px;
}

.click button.learn:hover {
    background-color: #ccc;
}

.click .builder {
    height: 443px;
    width: 380px;
    float: left;
}

.click .builder h3 {
    font-family: 'Arial';
    color: #4d4e53;
    font-size: 30px;
    margin-bottom: 7px;
    letter-spacing: -1px;
}

.click .hosting {
    height: 443px;
    width: 380px;
    float: left;
}

.click .hosting h3 {
    font-family: 'Arial';
    color: #4d4e53;
    font-size: 30px;
    margin-bottom: 7px;
    letter-spacing: -1px;
}

.protect {
    height: 428px;
    background-color: #e7e7e8;
}

.protect .left {
    width: 750px;
    height: 327px;
    float: left;
}

.protect .left img {
    height: 269px;
    width: 200px;
}

.protect a:hover {
    color: #90c547;
}

.protect .left a {
    float: left;
    position: relative;
    top: 50px;    
}

.protect .left .peace  {
    height: 80px;
    width: 354px;
    float: left;
    position: relative;
    bottom: 100px;
    left: 60px;
    font-family: "Century Gothic", sans-serif;
    font-size: 27px;
    color: #4d4e53;
    letter-spacing: -1px;
}

.protect .left p {
    float: left;
    height: 54px;
    width: 490px;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    color: #343231;
    position: relative;
    top: 67px;
    left: 60px;
}

.protect .left h3:hover {
    color: #90c547;
}

.protect .left button:hover {
    background-color: #e7e7e8;
}

.protect .left button {
    float: left;
    height: 32px;
    width: 156px;
    border: 1px solid #BABABA;
    background-color: #fff;
    position: relative;
    left: 60px;
    top: 90px;
}

.protect .right {
    float: right;
    height: 428px;
    width: 292px;
    background-color: #91c945;
}

.protect .right img {
    width: 220px;
    height: 243px;
}

.protect .right h3 {
    height: 96px;
    width: 245px;
    color: #fff;
    font-family: 'Tahoma', Verdana, sans-serif;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 23px;
}

.protect .right p {
    float: left;
    width: 245px;
    height: 53px;
    margin-bottom: 0px;
    margin-left: 23px;
    font-family: "Arial";
    font-size: 14px;
    color: #4d4e53;
}

.protect .right img {
    float: left;
    
    margin-left: 36px;
}

.blog {
    height: 388px;
    background-color: #696969;
}

.blog .left iframe {
    float: left;
    margin-top: 30px;
    border: 5px solid #fff;
}

.blog .right {
    float: right;
    width: 537px;
    height: 364px;
    font-size: 25px;
    font-family: "Lucida Console", monospace;
    letter-spacing: -2px;
    position: relative;
    bottom: 0px;
}

.blog .right p {
    float: left;
    width: 450px;
    height: 64px;
    color: #fff;
    position: relative;
    top: 10px;
    left: 65px;
}

.blog .right a {
    color: #8dc63f;
    position: relative;
    top: 5px;
}

.blog .right .bloglogo p {
    width: 170px;
}

.blog .right .bloglogo .com {
    float: left;
    clear: both;
    width: 171px;
    height: 104px;
    background-image: url("../img/com.jpg");
    background-size: 75px 60px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: #e7e7e8;
}

.blog .right .bloglogo .com p {
    font-size: 12px;
    color: #4d4e53;
    letter-spacing: +1px;
    position: relative;
    top: 70px;
    left: 10px;
}

.blog .right .bloglogo .us {
    float: left;
    width: 171px;
    height: 104px;
    background-image: url("../img/us.jpg");
    background-size: 75px 60px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: #e7e7e8;
    margin-left: 12px;
}

.blog .right .bloglogo .us p {
    font-size: 12px;
    color: #4d4e53;
    letter-spacing: +1px;
    position: relative;
    top: 70px;
    left: 10px;
}

.blog .right .bloglogo .co {
    float: left;
    width: 171px;
    height: 104px;
    background-image: url("../img/co.jpg");
    background-size: 75px 60px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: #e7e7e8;
    margin-left: 12px;
}

.blog .right .bloglogo .co p {
    font-size: 12px;
    color: #4d4e53;
    letter-spacing: +1px;
    position: relative;
    top: 70px;
    left: 10px;
}

.blog .right .bloglogo .io {
    float: left;
    width: 171px;
    height: 104px;
    background-image: url("../img/io.jpg");
    background-size: 75px 60px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: #e7e7e8;
    margin-top: 12px;
}

.blog .right .bloglogo .io p {
    font-size: 12px;
    color: #4d4e53;
    letter-spacing: +1px;
    position: relative;
    top: 70px;
    left: 10px;
}

.blog .right .bloglogo .club {
    float: left;
    width: 171px;
    height: 104px;
    background-image: url("../img/club.jpg");
    background-size: 75px 60px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: #e7e7e8;
    margin-top: 12px;
    margin-left: 12px;
}

.blog .right .bloglogo .club p {
    font-size: 12px;
    color: #4d4e53;
    letter-spacing: +1px;
    position: relative;
    top: 70px;
    left: 10px;
}

.blog .right .bloglogo .xyz {
    float: left;
    width: 171px;
    height: 104px;
    background-image: url("../img/xyz.jpg");
    background-size: 75px 60px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: #e7e7e8;
    margin-top: 12px;
    margin-left: 12px;
}

.blog .right .bloglogo .xyz p {
    font-size: 12px;
    color: #4d4e53;
    letter-spacing: +1px;
    position: relative;
    top: 70px;
    left: 10px;
}

.help {
    
    height: 506px;
}

.help .above p {    
    letter-spacing: -1px;
    height: 32px;
    font-family: Arial;
    font-size: 30px;
    color: #4d4e53;
    text-align: center;
    margin-bottom: 0px;
}

.help .above .link {
    letter-spacing: +1px;
    font-size: 17px;
    color: #79b208;
    margin-top: 10px;
}

.help .above .link a {
    color: #79b208;
}

.help .under {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.help .under p {
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
}

.help .under .find {
    
    width: 190px;
    height: 47px;
    background-color: #0065bd;
    border-color: #357ebd;
    
}

.help .under button.find:hover {
    background-color: #4174A8;
}

.help .under .create {
    width: 208px;
    height: 47px;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-left: 15px;
}

.help .under button.create:hover {
    background-color: #50ACC8;
}

.help img {
    width: 1100px;
    height: 338px;
    display: block;
    margin: 0 auto;  
}

.final {
    height: 540px;
    background-color: #e7e7e8;
}

.final p {
    width: 953px;
    height: 96px;
    font-family: arial;
    font-size: 18px;
    color: #4d4e53;
    line-height: 24px;
    text-align: left; 
    padding-left: 200px;  
    padding-top: 25px; 
    margin-bottom: 0px;
}

.final .list {
    width: 1170px;
    margin: 0 auto;
    font-family: arial;

}

.final  ul {
    list-style-type: none;
    width: 160px;
    display: inline-table;
    margin-left: 30px;
}

.final .list h3 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 6px;
}

.final .list a {
    font-size: 12px;
    color: #545454;
    line-height: 25px;
}

.final .list a:hover {
    text-decoration: underline;
}

.final .copyright {
    width: 1170px;
    height: 65px;
    margin: 0 auto;
}

.final .copyright .left {
    float: left;
    width: 650px;
    height: 56px;
}

.final .copyright .left .name { 
    width: 100px; 
    height: 15px;
    background: url("../img/final.png") 0px 0px;
    display: inline-block;    
}

.final .copyright .left .rightside {
    width: 76px;
    height: 20px;
    background: url("../img/final.png") 0px 20px;
    display: inline-block;
}

.final .copyright .left p {
    line-height: 17px;
    width: 652px;
    height: 25px;
    font-size: 11px;
    color: #717173;
    padding: 0 0;
}

.final .copyright .left span {
    position:relative;
    top: 5px;
    left: 2px;
}

.final .copyright .left .link {
    margin-top: 0px;
}

.final .copyright .left .link a {
    color: #717173;
}

.final .copyright .left .link a:hover {
    color: #8ec73f;
    text-decoration: underline;
}

.final .copyright .right {
    width: 200px;
    height: 56px;
    float: left;
    margin-left: 320px;
    margin-top: 7px;
}

.final .copyright .right .ican img {
    width: 56px;
    height: 56px;
}

.final .copyright .right .business img {
    width: 96px;
    height: 49px;
    margin-left: 10px;
}
