body {
    margin: 0;
    background: #EDEDED;
    font-family: arial;
}

a {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.navbar .top {
    width: auto;
    height: 80px;
    background: #696969 !important;
}

.navbar .top img {
    width: 320px;
    height: 33px;
}

.navbar .top .left {
    float: left;
    margin-top: 20px;
}

.navbar .top a.right {
    color: #fff;
    font-size: 13px;
    float: right;
    margin-top: 40px;
    margin-right: 35px;
}

.navbar .main {
    width: 1014px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.navbar .main li {
    float: left;
    display: inline;
    padding: 11px 17px;
    color: #707070;
    position: relative;
    bottom: 16px;
}

.navbar .main ul {
    padding-left: 0;
}

.navbar .main a {
    font-size: 14px;
    color: #656565;
}

.content {
    width: 984px;
    height: 1825px;
    border: 5px solid #DEDEDE;
    border-top-width: 4px;
    border-bottom-width: 4px;
    margin: 0 auto;
    background: #fff;
}

.content .left {
    float: left;
    width: 646px;
    height: 1825px;
    padding: 0 30px;
    border-right: 5px solid #DEDEDE;
    position: relative;
    bottom: 6px;
}

.content .left h1 {
    font: normal bold 33px/34px arial;
}

.content .left p {
    font-size: 12px;
    line-height: 13px;
}

.content .left a {
    text-decoration: underline;
    color: #79b208;
}

.content .left iframe {
    width: 582px;
    height: 436px;
    margin-left: 34px;
    margin-top: 25px;
}

.content .left .main {
    height: 880px;
}

.content .left .main p {
    font-size: 13px;
    line-height: 18px;
}

.content .left .main img {
    width: 367px;
    height: 204px;
    margin-left: 140px;
}

.content .left .main p.link {
    margin-left: 140px;
    margin-top: 7px;
    color: #777;
}

.content .left form {
    width: 620px;
    height: 220px;
    padding-left: 20px;
    margin-top: 95px;
}

.content .left .form h2 {
    font-size: 18px;
}

.content .left .form label {
    font-size: 14px;
}

.content .left .form input {
    width: 600px;
    height: 15px;
    margin-top: 2px;
    padding: 8px 0;
}

.content .left .form button {
    width: 98px;
    height: 32px;
    margin-top: 20px;
    padding: 0 22px;
    color: #fff;
    cursor: pointer;
    background: #aaa;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.content .left .form p {
    margin: 0;
    font-size: 14px;
    width: 52px;
}

.content .left .form button:hover {
    background: #999;
}

.tag {
    width: 646px;
    height: 14px;
    border-top: 1px solid #ccc;
}

.tag a {
    text-decoration: underline;
    color: #79b208;
    font-size: 13px;
}

.content .left .related {
    width: 646px;
    height: 189px;
}

.content .left .related h3 {
    font-size: 15px;
    position: relative;
    top: 5px;
}

.content .left .related a.abc {
    width: 126px;
    height: 126px;
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    background: url("../img/boulder.jpg") no-repeat center;
    background-size: 126px 126px;
    text-decoration: none;
    margin-right: 8px;
}

.content .left .related a.quick {
    background: url("../img/quick.jpg") no-repeat center;
    background-size: 126px 126px;
}

.content .left .related a.article1 {
    background: url("../img/article.jpg") no-repeat center;
    background-size: 126px 126px;
}

.content .left .related a.article2 {
    background: url("../img/article.jpg") no-repeat center;
    background-size: 126px 126px;
}

.content .left .related p {
    width: 121px;
    height: 49px;
    padding: 5px;
    padding-right: 0;
    position: relative;
    top: 55px; 
    color: #fff;
    background-color: rgb(30,132,35);
    opacity: 0.7;
}

.content .left .related .quick p {
    background-color: rgb(89,40,104);
}

.content .left .related .article1 p {
    background-color: rgb(21,24,59);
}

.content .left .related .article2 p {
    background-color: rgb(116,81,59);
}

.final {
    width: auto;
    height: 152px;
    margin-top: 20px;
    background: #4d4f53;
}

.final a {
    display: inline-block;
    margin-top: 35px;
}

.final img {
    width: 1000px;
    height: 92px;
}

.sidebar {
    width: 272px;
    height: 618px;
    float: right;
}

.sidebar .top {
    margin-top: 57px;
    padding-left: 15px;
}

.sidebar h3 {
    font-size: 14px;
}

.sidebar a.name {
    font-size: 13px;
    color: #3b5998;
    position: relative;
    bottom: 35px;
}

.sidebar .like img {
    width: 47px;
    height: 20px;
    cursor: pointer;
    position: relative;
    right: 68px;
    bottom: 5px;
}

.sidebar .mid {
    padding-left: 10px;
}

.sidebar .mid p {
    width: 230px;
    height: 14px;
    border-top: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 11px;    
}

.sidebar .mid a.small {
    color: #3b5998;
}

.sidebar .mid li {
    display: inline;
    margin: 0px;
    padding: 0;
}

.sidebar .mid ul {
    margin: 0;
    padding-right: 20px;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
}

.sidebar .mid .facebook img {
    width: 14px;
    height: 14px;
}

.sidebar a.underline:hover {
    text-decoration: underline;
}

.sidebar .mid a.plugin {
    font-size: 10px;
    color: #9197a3;
    letter-spacing: -1px;
    position: relative;
    bottom: 4px;
}

.sidebar .mid .social {
    width: 220px;
    height: 13px;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}

.sidebar .bot {
    margin-top: 43px;
    padding-left: 10px;
}

.sidebar .bot p {
    font-size: 12px;
    line-height: 16px;
}

.sidebar .bot a {
    color: #79b208;
    text-decoration: underline;
}
